<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/user}" th:object="${user}" style="color: blueviolet">
    <label for="userName">Enter name: </label>
    <input type="text" th:field="*{userName}" id="userName"/>

    <br/>

    <label for="last_name" >Enter surname: </label>
    <input type="text" th:field="*{password}" id="last_name"/>

    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>


    <br/>
    <br/>

    <label for="password">Enter password : </label>
    <input type="text" th:field="*{password}" id="password"/>


    <br/>
    <br/>

    <label for="role">Enter role: </label>
    <input type="text" th:field="*{roles}" id="role"/>


    <br/>



    <input type="submit" value="Create!"/>
</form>

</body>
</html>