<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/addUser}" th:object="${user}" style="color: blueviolet">
    <label for="userName">Enter unique name: </label>
    <input type="text" th:field="*{userName}" id="userName"/>

    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br/>

    <br/>

    <label for="email">Enter Age: </label>
    <input type="text" th:field="*{age}" id="email"/>

    <br/>

    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>

    <br/>

    <label for="roles">Select role: </label>
    <select name="roles" id="roles" multiple="multiple">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${role.roleName}"></option>
    </select>

    <br/>

    <input type="submit" value="Create!"/>
</form>
<br/>
<a href="/logout">Logout</a>

</body>
</html>