<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="POST" th:action="@{/update(id=${user.getId()})}" th:object="${user}">
    <label for="id">ID: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <br/>
    <label for="firstName">First Name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Last Name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="Age"> Age: </label>
    <input type="text" th:field="*{age}" id="Age"/>
    <br/>
    <label for="email">Email </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="roles">Select role: </label>
    <select name="roles" id="roles" multiple="multiple">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${role.roleName}"></option>
    </select>
    <br/>
    <input type="submit" value="Update"/>
    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            const passwordInput = document.getElementById('password');
            if (passwordInput.value === '') {
                passwordInput.disabled = true; // Отключаем поле, чтобы оно не было отправлено
            }
        });
    </script>

</form>
<br/>
<a href="/logout">Logout</a>
</body>
</html>