<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="POST" th:action="@{/update(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{userName}" id="name"/>
    <br/>
    <label for="surname">Enter password: </label>
    <input type="text" th:field="*{password}" id="surname"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="text" th:field="*{lastName}" id="name"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
<br/>
<a href="/logout">Logout</a>
</body>
</html>